.face-img{
    height: 100px;
    margin: 15px;
}


.face-img:hover {
    cursor: hand;
    background: #0d8ddb;
}

.lightBoxGallery {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.hidden {
    display: none;
}