{% extends "base.html" %}

{%block link%}
<link href="/static/css/plugins/dropzone/basic.css" rel="stylesheet">
<link href="/static/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<link href="/static/css/add_face.css" rel="stylesheet">
<link href="/static/css/plugins/dropzone/dropzone.css" rel="stylesheet">
{%endblock%}


{%block content%}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Add new faces</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/face_gallery">Faces gallery</a>
            </li>
            <li class="active">
                <strong>Add new faces</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dropzone Area</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" id="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="my-awesome-dropzone" class="dropzone" action="#">
                        {% csrf_token %}
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right" id="submit-photo-btn">Submit your photo!</button>
                        <div class="form-group">
                            <div class="panel-body center-block" id="my-camera">
                            </div>
                        </div>
                        <input type="button" value="Access Camera" class="btn btn-primary pull-right"
                               onClick="setup()" id="access-camera-btn">
                        <input type="button" value="Take Snapshot" onClick="take_snapshot()"
                               class="btn btn-primary pull-right"
                               style="display:none" id="take-snap-shot-btn">
                        <input type="button" value="Close Camera" onClick="close_camera()" id="close-camera-btn"
                               class="btn btn-default pull-right" style="margin-right: 20px; display:none">
                    </form>

                </div>

                <div class="lightBoxGallery hidden" id="temp-faces-panel">
                    <p class="text-muted text-center" id="error-panel">
                        <small></small>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>

{%endblock%}

{%block script%}
<script src="/static/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/plugins/dropzone/dropzone.js"></script>
<script src="/static/js/webcam.min.js"></script>
<script src="/static/js/add_face.js"></script>


{%endblock%}
